## Workflow
1. Import relevant libraries 
2. Data Cleaning 
3. Question 2(a)

4. Question 2(b)
5. Export dataframes as excel sheets

### 1. Import relevant libraries

In [138]:
# import relevant libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [118]:
# Import data 
oct = pd.read_json(r'C:\Users\yeosi\Documents\WhiteCoat test\WhiteCoat - Datasets\action_log\action_log\action_log_202110.json', lines=True)
oct.head()

,consult_id,member_id,action,timestamp,doctor_id
0,AAA85B31-7961-4C62-8302-50721C17891F,8465B904-9012-4A1F-9BEA-F899829A76C5,Joined Queue,2021-10-01 08:09:13,NaN
1,936EFDC4-FF5F-485A-A0FE-A82D4F52D1E2,1EA41B1E-045A-4572-BCB5-20DA5FF1142A,Joined Queue,2021-10-01 08:09:27,NaN
2,0553A9DA-5095-4DDD-A3B5-3EA3AEB2C056,ADFB5552-79A4-4603-8453-4AC00C60D750,Joined Queue,2021-10-01 08:09:38,NaN
3,824D7BFE-E38D-4852-B62B-11460ACFA1DE,A22C569D-B637-4E52-A69E-DEFE75F24C3C,Joined Queue,2021-10-01 08:09:42,NaN
4,6A4CBCE9-AC92-4A66-80CE-6C948887A848,2A260323-1344-4925-ABA5-DFB6D8D27B5B,Joined Queue,2021-10-01 08:10:07,NaN

In [119]:
# Import data 
nov = pd.read_json(r'C:\Users\yeosi\Documents\WhiteCoat test\WhiteCoat - Datasets\action_log\action_log\action_log_202111.json', lines=True)
nov.head()

,consult_id,member_id,action,timestamp,doctor_id
0,7B7E9E38-3CBF-4343-B26F-BC2A4248F668,C60A4033-27D4-4E16-8414-27AE86657F66,Meds Delivered,2021-11-01 07:55:16,NaN
1,04090F85-F6E2-4E3B-BF89-96F60E0DDDD0,52FDEA65-0C4E-4F3D-BFBC-0BDD9A797427,Joined Queue,2021-11-01 08:00:43,NaN
2,04090F85-F6E2-4E3B-BF89-96F60E0DDDD0,52FDEA65-0C4E-4F3D-BFBC-0BDD9A797427,Doctor Ready,2021-11-01 08:00:57,438F511A-DE86-496F-8AC6-BBE153A376D5
3,04090F85-F6E2-4E3B-BF89-96F60E0DDDD0,52FDEA65-0C4E-4F3D-BFBC-0BDD9A797427,Consult Start,2021-11-01 08:01:19,438F511A-DE86-496F-8AC6-BBE153A376D5
4,A48E4299-B3CD-4A71-B5A1-5B9AC5BEBFB3,E6015695-DF6E-48E8-81C3-D998A847E661,Joined Queue,2021-11-01 08:01:40,NaN

In [120]:
# Import data 
dec = pd.read_json(r'C:\Users\yeosi\Documents\WhiteCoat test\WhiteCoat - Datasets\action_log\action_log\action_log_202112.json', lines=True)
dec.head()

,consult_id,member_id,doctor_id,action,timestamp
0,98661502-E660-48AA-9DF4-9E90E563B108,DE6EFBF3-571F-4502-BF58-BAC3730B52DD,251C07D2-FC5F-4229-9F7E-C662B754AFC6,Consult End,2021-12-01 00:08:45
1,71D63734-5973-45CC-B119-56D0BE1D10B0,FEC12113-3697-43E6-8BE8-0F95E87BD4AE,44F5B766-8B80-456E-8797-5CF9893D6AE4,Consult End,2021-12-01 00:45:07
2,53E6F3B0-5C73-48AC-8BAE-1C4C87BC5405,AC473FD8-0CFF-4900-8E74-BFABEEBA3725,NaN,Meds Delivered,2021-12-01 07:44:27
3,3AA028E7-3775-481C-B37C-07E75B776222,C1D8108F-9687-434F-B62C-84007353CA2F,7C2FDBF3-2942-47AD-AE19-ECC6F4E115E9,Consult End,2021-12-01 07:52:58
4,453725BA-3CFF-49A7-BAE7-41007DA7E536,29FC5573-683F-4C7A-824A-1B254D6F7F59,NaN,Joined Queue,2021-12-01 08:02:29

### 2. Data Cleaning

In [121]:
# Change order of the columns in dec
dec = dec[['consult_id', 'member_id', 'action', 'timestamp', 'doctor_id']]

In [122]:
# Combine all 3 months of data tgt 
df = pd.concat([oct, nov, dec])
df

,consult_id,member_id,action,timestamp,doctor_id
0,AAA85B31-7961-4C62-8302-50721C17891F,8465B904-9012-4A1F-9BEA-F899829A76C5,Joined Queue,2021-10-01 08:09:13,NaN
1,936EFDC4-FF5F-485A-A0FE-A82D4F52D1E2,1EA41B1E-045A-4572-BCB5-20DA5FF1142A,Joined Queue,2021-10-01 08:09:27,NaN
2,0553A9DA-5095-4DDD-A3B5-3EA3AEB2C056,ADFB5552-79A4-4603-8453-4AC00C60D750,Joined Queue,2021-10-01 08:09:38,NaN
3,824D7BFE-E38D-4852-B62B-11460ACFA1DE,A22C569D-B637-4E52-A69E-DEFE75F24C3C,Joined Queue,2021-10-01 08:09:42,NaN
4,6A4CBCE9-AC92-4A66-80CE-6C948887A848,2A260323-1344-4925-ABA5-DFB6D8D27B5B,Joined Queue,2021-10-01 08:10:07,NaN
...,...,...,...,...,...
35691,8094DCEF-5CD4-4FEE-B8E1-EDDDB92741CD,28F6F666-FD4A-449F-B837-2C00CF197F2A,Meds Delivered,2021-12-31 23:34:53,NaN
35692,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Joined Queue,2021-12-31 23:37:40,NaN
35693,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Doctor Ready,2021-12-31 23:38:25,DE28DA35-C28E-49FF-B77C-28E6268F0EF9
35694,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Consult Start,2021-12-31 23:38:38,DE28DA35-C28E-49FF-B77C-28E6268F0EF9
35695,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Consult End,2021-12-31 23:59:11,DE28DA35-C28E-49FF-B77C-28E6268F0EF9

In [123]:
# Check for null values , only doctor_id has null which is logical, null values will not be replaced 
df.isnull().sum()

consult_id        0
member_id         0
action            0
timestamp         0
doctor_id     44102
dtype: int64

In [124]:
# Check for duplicates 
df[df.duplicated( keep = 'first')]

Empty DataFrame
Columns: [consult_id, member_id, action, timestamp, doctor_id]
Index: []

In [125]:
#Create custom ordering for the column action
order = ['Joined Queue', 'Doctor Ready', 'Consult Start', 'Consult End', 'Meds Delivered']

col = 'action'

# Create a function to apply custom ordering to selected column 
def custom_order(order, df, col):
    df[col] = pd.Categorical(df[col], categories= order)
    return df

custom_order(order, df, col)
custom_order(order, oct, col)
custom_order(order, nov,col)
custom_order(order, dec,col)

,consult_id,member_id,action,timestamp,doctor_id
0,98661502-E660-48AA-9DF4-9E90E563B108,DE6EFBF3-571F-4502-BF58-BAC3730B52DD,Consult End,2021-12-01 00:08:45,251C07D2-FC5F-4229-9F7E-C662B754AFC6
1,71D63734-5973-45CC-B119-56D0BE1D10B0,FEC12113-3697-43E6-8BE8-0F95E87BD4AE,Consult End,2021-12-01 00:45:07,44F5B766-8B80-456E-8797-5CF9893D6AE4
2,53E6F3B0-5C73-48AC-8BAE-1C4C87BC5405,AC473FD8-0CFF-4900-8E74-BFABEEBA3725,Meds Delivered,2021-12-01 07:44:27,NaN
3,3AA028E7-3775-481C-B37C-07E75B776222,C1D8108F-9687-434F-B62C-84007353CA2F,Consult End,2021-12-01 07:52:58,7C2FDBF3-2942-47AD-AE19-ECC6F4E115E9
4,453725BA-3CFF-49A7-BAE7-41007DA7E536,29FC5573-683F-4C7A-824A-1B254D6F7F59,Joined Queue,2021-12-01 08:02:29,NaN
...,...,...,...,...,...
35691,8094DCEF-5CD4-4FEE-B8E1-EDDDB92741CD,28F6F666-FD4A-449F-B837-2C00CF197F2A,Meds Delivered,2021-12-31 23:34:53,NaN
35692,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Joined Queue,2021-12-31 23:37:40,NaN
35693,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Doctor Ready,2021-12-31 23:38:25,DE28DA35-C28E-49FF-B77C-28E6268F0EF9
35694,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Consult Start,2021-12-31 23:38:38,DE28DA35-C28E-49FF-B77C-28E6268F0EF9
35695,4D913B74-37F9-4002-B9B5-2EC0E429A930,9E7C2DDC-7D6D-4570-920A-05E7E2954A54,Consult End,2021-12-31 23:59:11,DE28DA35-C28E-49FF-B77C-28E6268F0EF9

### 3. Question 2(a) % dropoff at each stage of the booking funnel by Month and by overall

In [126]:
# Create a function to calculate % change for each action stages 
def perc_change (df):
    pct= pd.DataFrame(df.groupby('action')['consult_id'].count())
    pct = pct.pct_change()
    pct.rename(columns = {'consult_id':'% dropout'}, inplace = True)
    return pct

In [127]:
# Calculate % dropout for October 
oct_pct = perc_change(oct)
oct_pct

                % dropout
action
Joined Queue          NaN
Doctor Ready    -0.255612
Consult Start   -0.081148
Consult End     -0.001586
Meds Delivered  -0.107988

In [128]:
# Calculate % dropout for November 
nov_pct = perc_change(nov)
nov_pct

                % dropout
action
Joined Queue          NaN
Doctor Ready    -0.143875
Consult Start   -0.061520
Consult End      0.000000
Meds Delivered  -0.107703

In [129]:
# Calculate % dropout for December 
dec_pct = perc_change(dec)
dec_pct

                % dropout
action
Joined Queue          NaN
Doctor Ready    -0.130985
Consult Start   -0.045067
Consult End      0.001439
Meds Delivered  -0.118822

In [130]:
# Calculate % dropout for the year 
df_pct = perc_change(df)
df_pct

                % dropout
action
Joined Queue          NaN
Doctor Ready    -0.179135
Consult Start   -0.062218
Consult End      0.000000
Meds Delivered  -0.111635

### 4. Question 2(b) Average time patients spent in each stage before successfully moving to the next stage

In [131]:
# Create a function to calculate the average time spent for each stage 
def avg_time (df):
    df.sort_values(by = ['consult_id', 'action'], inplace = True)
    df['time_in_status'] = df.groupby('consult_id')['timestamp'].diff()
    final = pd.DataFrame(df.groupby('action')['time_in_status'].mean())
    return final

In [132]:
# Calculate average time spent for Oct 
oct_avgtime = avg_time(oct)

In [133]:
# Calculate average time spent for Nov
nov_avgtime = avg_time(nov)

In [134]:
# Calculate average time spent for Dec
dec_avgtime = avg_time(dec)

In [135]:
# Calculate average time spent for overall 
df_avgtime = avg_time(df)

In [157]:
# Convert timestamp to text 
dataframes = [oct_avgtime, nov_avgtime, dec_avgtime, df_avgtime]

for i in dataframes:
    i['time_in_status'] = i['time_in_status'].astype(str)

### 4. Export dataframes as excel sheets

In [158]:

# Export the the dataframes as excel sheet 
with pd.ExcelWriter(r'C:\Users\yeosi\Documents\WhiteCoat test\Question 2.xlsx') as writer:  
    oct_pct.to_excel(writer, sheet_name='% dropout for Oct')
    nov_pct.to_excel(writer, sheet_name='% dropout for Nov')
    dec_pct.to_excel(writer, sheet_name='% dropout for Dec')
    df_pct.to_excel(writer, sheet_name='% dropout for Overall')
    oct_avgtime.to_excel(writer, sheet_name='Average time spent (Oct)')
    nov_avgtime.to_excel(writer, sheet_name='Average time spent (Nov)')
    dec_avgtime.to_excel(writer, sheet_name='Average time spent (Dec)')
    df_avgtime.to_excel(writer,sheet_name='Average time spent (Overall)')